body{
    display: flex;
    flex-direction: column;
    background-color: #14142B;
    font-family: 'Montserrat';
    color: #4DFFFF;
    margin: 40px;

}

header{
    margin-top: 0;
    margin-left: 0px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
}
nav{

    display: flex;

}

#sociais{

    margin-left: 15px;
}



#clicavel{
    margin-left: 37px;
    font-style: normal;
    font-family:'Montserrat';
    color: #4DFFFF;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
}

#container1{
    
    display: flex;
    
    margin-top: 100px;
    
    align-items:center;
    
}

#texto{

    position: relative;
    width: 562px;
    height: 120px;
    font-size: 18px;
    line-height: 30px;
    

}

#astronauta{
    
    padding-left: 30%;
    Width:429px;
    Height:466px;
}

#botao{
    
    display: flex;
    
    
    
}

#botao-conhecer{
    width: 288px;
    height: 44px;
    border: none;
    border-radius: 8px;
    background-color: #FF2AB2;
    color:#FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

#bg{
    width: 1440px;
    height: 477px;
    margin: 20px;
    display:flex;

}

h2{

    width: 608px;
    height: 46px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;


}

#left{

    position: relative;
    display: flex;
    flex-direction: column;


}

#texto-sobre{

    width: 495px;
    height: 300px;

}

#img-right{

    margin-top: 0px;
    margin-top: 115px;
    margin-left: 180px;
}

#img-team{

    
    padding-top: 0px;
    border-radius: 20px;
    width: 606px;
    height: 300px;

}
